<%- include('../partials/header')%>
<a href="/skills/<%=skill.id%>/edit">Skill edit</a>
 <h3><%= skill.skill %></h3>
 <h3>right answer:<%= skill.correctAnswer ? 'Yes' : 'No' %></h3>
 <%- include('../partials/footer')%>